<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    {{> header}}
    <main>
      {{#each collections.posts}}
      <article>
        <header>
          <h2><a href="{{this.path}}">{{this.title}}</a></h2>
          <time datetime="{{this.date}}">{{this.date}}</time>
        </header>
        {{{this.contents}}}
      </article>
      {{/each}}
    </main>
  </body>
</html>
